<div class="panel-body">
        <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
    </div>
    <table class="table table-hover" id="task-table">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Site Wireframes</td>
                <td>John Smith</td>
                <td>in progress</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mobile Landing Page</td>
                <td>Kilgore Trout</td>
                <td>completed</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Add SEO tags</td>
                <td>Bob Loblaw</td>
                <td>failed qa</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Migrate to Bootstrap 3</td>
                <td>Emily Hoenikker</td>
                <td>in progress</td>
                <td></td>
            </tr>
           
        </tbody>
    </table>